@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: unset; 

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }

    @media (max-width: 800px) {
      font-size: 3rem;
    }
  
    @media (max-width: 480px) {
      font-size: 2.2rem;
    }

    @media (max-width: 380px) {
      font-size: 1.8rem;
    }

    @media (max-width: 300px) {
      font-size: 1.2rem;
    }
  }

  .hero-cta {
    display: flex;
    align-items: center; 

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }

      @media (max-width: 480px) {
        font-size: 1.5rem;
        padding: 0.5rem 1.0rem;
      }
    }
  }

  .social-links-hero {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-links-hero a {
    color: #000000;
    width: 5rem;
    height: 5rem;
    flex-direction: column;
    justify-content: center;
    margin-left: .1rem;
    padding-left: 2rem;
    font-size: 3rem;
    transition: all 0.2s ease-in;
    display: flex;

    @media (max-width: 800px) {
      font-size: 2.4rem;
    }
  
    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  .tech-skills-hero {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 10rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  
  .tech-skills-hero p {
    display: flex;
    margin-left: 3rem;
    font-size: 2rem;
    align-items: center;
    display: inline-block;
    margin-top: .6rem;
  }
  
  .icon {
    font-size: 5rem; 
    margin-right: 4rem;


    @media (max-width: 800px) {
      font-size: 4rem;
    }

    @media (max-width: 480px) {
      font-size: 3rem;
    }
    
  }
  .icon-first{
    font-size: 5rem;
    margin-right: 4rem;
    margin-left: 4rem; 


    @media (max-width: 800px) {
      font-size: 4rem;
    }

    @media (max-width: 480px) {
      font-size: 3rem;
    }
  }
  
}


// .tech-skills-hero {
//   display: flex;
//   align-items: center;
//   text-align: left;
//   margin-top: 10rem;
//   font-family: 'Oswald', sans-serif;
//   letter-spacing: .3rem;
//   flex-wrap: wrap;
//   justify-content: flex-start;
// }


// .tech-skills-hero p {
//   display: flex;
//   margin-left: 3rem;
//   font-size: 2rem;
//   align-items: center;
//   display: inline-block;
//   margin-top: .6rem;
// }

// .tech-skills-hero i {
//   margin-right: 2rem;
//   margin-bottom: 2rem;
// }

/* Media Query for Small Screens */
// @media (max-width: 800px) {
//   #hero {
//     padding: 0rem 2rem;
//   }

//   .tech-skills-hero {
//     margin-top: 5rem;
//   }

//   .tech-skills-hero i {
//     margin-right: 1rem;
//     margin-bottom: 1rem;
//     font-size: 2rem;
//   }
// }

// @media (max-width: 480px) {
//   .hero-title {
//     font-size: 1.8rem;
//   }

//   .social-links-hero a {
//     font-size: 1.2rem;
//   }
// }


