@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

#myNavbar {
  background-color: white !important;
  font-family: 'Share Tech', sans-serif;
  font-size: 2.7rem;
}

.navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Share Tech', sans-serif;
  font-size: 2.7rem;
}

.navbar-nav .nav-link {
  color: black;
  margin-right: 2rem
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
